# This notebook is used to explore the datasets

In [10]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [11]:
#Load data
netflix = pd.read_csv('Data/netflix_titles.csv')
prime = pd.read_csv('Data/amazon_prime_titles.csv')
disney = pd.read_csv('Data/disney_plus_titles.csv')
hulu = pd.read_csv('Data/hulu_titles.csv')
platforms = pd.read_csv('Data/MoviesOnStreamingPlatforms.csv')
hulu_imdb_from_csv =pd.read_csv('Data/hulu_titles_joined_with_IMDB.csv')

In [ ]:
# Overview of individual dataframe
netflix.head(1)

In [ ]:
# Overview of individual dataframe
disney.head(1)

In [ ]:
# Overview of individual datafra
hulu.shape

In [ ]:
# Overview of individual datafr
prime.sample(10)

In [ ]:
print('The amount of titles per platform')
print('netflix:',netflix.shape[0])
print('prime:',prime.shape[0])
print('disney:',disney.shape[0])
print('hulu:',hulu.shape[0])

In [ ]:
# Overview of the platform dataframe
platforms

In [ ]:
def top_in_attr(dataframe, attribute, count=10):
    df_temp = dataframe.groupby(attribute).count()[['show_id']]
    df_temp.columns = ['count']
    return df_temp.sort_values('count',ascending=False).head(count)

In [ ]:
# top 10 netflix directors by count
top_in_attr(netflix,'director')

In [ ]:
# Share of Movies vs TV-shows in netflix
top_in_attr(netflix,'type')

In [ ]:
top_in_attr(netflix,'country')

In [ ]:
top_in_attr(netflix,'release_year')

In [ ]:
a = top_in_attr(netflix,'release_year')
b = top_in_attr(hulu,'release_year')
c = top_in_attr(disney,'release_year')
d = top_in_attr(prime,'release_year')
plt.figure(figsize=(15, 7))
release_years = sns.lineplot(x="release_year",
                            y="count",
                            data=a,
                            legend="brief",
                            label='Netflix')
release_years = sns.lineplot(x="release_year",
                            y="count",
                            data=b,
                            label='Hulu',
                            legend="brief")
release_years = sns.lineplot(x="release_year",
                            y="count",
                            data=c,
                            label='Disney+',
                            legend="brief")
release_years = sns.lineplot(x="release_year",
                            y="count",
                            data=d,
                            label='Amazon Prime',
                            legend="brief")
#plt.legend()
#plt.show()
plt.savefig("Releases_per_year.png")

In [ ]:
top_in_attr(netflix,'rating')

In [4]:
#Merge together all datasets of netflix, prime, disney and hulu
all_streams=pd.concat([netflix,prime,disney,hulu_imdb_from_csv], keys=['Netflix', 'Prime','Disney','Hulu']).reset_index()
all_streams.rename(columns={"level_0":"service"},inplace=True)
all_streams.to_csv("Data/all_streams.csv")
all_streams.sample(10)

,service,level_1,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Unnamed: 0
9155,Prime,348,s349,Movie,Thrissur Pooram (4K UHD),Rajesh Mohanan Nair,"Jayasurya, Swathy reddy, Vijay Babu, TG Ravi, ...",NaN,NaN,2019,NR,152 min,Action,Thrissur Pooram' is an action packed entertain...,NaN
10082,Prime,1275,s1276,TV Show,Postcards from Buster,NaN,NaN,NaN,NaN,2012,TV-Y,1 Season,Kids,"Buster Baxter of ""Arthur"" fame travels around ...",NaN
11266,Prime,2459,s2460,Movie,Flight 666,Rob Pallatina,"Shamar Philippe, Liz Fenning, Greg Furman, Danika",NaN,NaN,2018,16+,89 min,Horror,Passengers and crew on an international flight...,NaN
11370,Prime,2563,s2564,TV Show,Elfen Lied,NaN,"Kira Vincent-Davis, Adam Conlon",NaN,NaN,2005,TV-NR,1 Season,Anime,Elfen Lied,NaN
13495,Prime,4688,s4689,Movie,Smiley,Tamara Tana,"Anton Sokolov, Alexandra Lupashko, Tatyana Yak...",NaN,NaN,2014,13+,87 min,"Comedy, Drama, Young Adult Audience","Three hot love stories from nowadays, adjoined...",NaN
8193,Netflix,8193,s8194,TV Show,The Apartment,NaN,"Jamie Durie, Laurence Llewelyn-Bowen",Singapore,"December 14, 2018",2014,TV-PG,2 Seasons,"International TV Shows, Reality TV","With their eyes on the grand prize, amateur de...",NaN
1405,Netflix,1405,s1406,Movie,Outside the Wire,Mikael Håfström,"Anthony Mackie, Damson Idris, Emily Beecham, M...","Hungary, United States","January 15, 2021",2021,R,116 min,Action & Adventure,"In the near future, a drone pilot sent into a ...",NaN
2106,Netflix,2106,s2107,TV Show,Rust Valley Restorers,NaN,"Mike Hall, Michael Daingerfield",Canada,"August 21, 2020",2020,TV-14,3 Seasons,"International TV Shows, Reality TV","Old-school auto collector Mike Hall, his pal A...",NaN
8844,Prime,37,s38,Movie,"You, Me and Him",Daisy Aitkens,"David Tennant, Lucy Punch, Faye Marsay, Gemma ...",NaN,NaN,2017,NaN,98 min,"Comedy, Drama","In You, Me and Him we meet lesbian couple Oliv...",NaN
18619,Disney,144,s145,Movie,Garfield,Peter Hewitt,"Breckin Meyer, Jennifer Love Hewitt, Stephen T...",United States,"July 30, 2021",2004,PG,82 min,"Comedy, Family",Garfield lures Odie out of the house but once ...,NaN

In [8]:
director = all_streams[["service","director"]]
director["director"] = director["director"].str.split(",")
director = director.explode("director")
director["director"] = director["director"].str.strip()
cnt = director.value_counts().reset_index()
cnt = cnt.rename(columns={0:"cnt"})
#cnt = pd.concat([cnt,imdb_director_hulu_count],ignore_index=True)
cnt = cnt.sort_values("cnt",ascending=False)
cnt.to_csv("Data/director_per_platform.csv")
cnt.sample(40)

<ipython-input-8-720207d122e8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  director["director"] = director["director"].str.split(",")

       service           director  cnt
10083  Netflix         Tony Abulu    1
3483     Prime      Clytie Jessop    1
8016   Netflix       Janet Tobias    1
4647     Prime   Michael Palmieri    1
738      Prime        Tony Randel    3
539    Netflix     Jerry Rothwell    3
2493     Prime        Travis Guba    1
651      Prime   Robert Fernandez    3
6591     Prime    Marcus Gautesen    1
8338   Netflix     Ferzan Özpetek    1
5117     Prime      Matthew Wolfe    1
8849    Disney      Hasraf Dulull    1
7317   Netflix   Daniel Schechter    1
12475  Netflix            Nam Ron    1
1390   Netflix     Marcelo Galvão    2
773      Prime         Allan Dwan    3
9487      Hulu        Kate Hickey    1
10390  Netflix   Sarik Andreasyan    1
8138   Netflix        Eric Stoltz    1
9558      Hulu  Lauren Greenfield    1
10760    Prime    B. Jeevan Reddy    1
11125    Prime       Alden Peters    1
3271     Prime    Taylor Guterson    1
809    Netflix        Walter Hill    3
12499  Netflix    Moto Sakakibara    1
7518   Netflix            Ang Lee    1
6919     Prime  Lauren Greenfield    1
12203  Netflix  Rajesh Touchriver    1
5557     Prime      Robert Harmon    1
5742     Prime  Pamela Romanowsky    1
1799   Netflix      Keith Scholey    2
9135      Hulu          Yaniv Raz    1
312      Prime     Seth Breedlove    4
12427  Netflix       Mark Ritchie    1
3332     Prime      Chidi Anyanwu    1
8216   Netflix     Dolapo Adeleke    1
10925  Netflix         Wi Ding Ho    1
1802     Prime     K. Balachander    2
5833     Prime       John Rawlins    1
5052     Prime     Megan Peterson    1

In [27]:

cast = all_streams[["service","date_added","type"]]
cast = cast.fillna("January 1, 2000")
cast["date_added"]=cast["date_added"].str.split(',').str[1].str.strip()

#cast=cast.rename(columns={"level_0":"service"})
#cast["cast"] = cast["cast"].str.split(",")
#cast = cast.explode("cast")
#cast["cast"] = cast["cast"].str.strip()
cnt = cast.value_counts().reset_index()
cnt = cnt.rename(columns={0:"cnt"})
#cnt = pd.concat([cnt,imdb_cast_hulu_count],ignore_index=True)
cnt = cnt.sort_values("date_added",ascending=False)
cnt=cnt.pivot(index=["service","date_added"],columns=["type"],values="cnt")
cnt.to_csv("Data/platform_per_year.csv")
cnt.sample(5)

type                Movie  TV Show
service date_added
Netflix 2015         56.0     26.0
        2008          1.0      1.0
Hulu    2000          NaN     28.0
Disney  2020        230.0    122.0
Hulu    2008          NaN      2.0

In [11]:
cast = all_streams[["service","country"]]
#cast=cast.rename(columns={"level_0":"service"})
cast["country"] = cast["country"].str.split(",")
cast = cast.explode("country")
cast["country"] = cast["country"].str.strip()
cnt = cast.value_counts().reset_index()
cnt = cnt.rename(columns={0:"cnt"})
#cnt = pd.concat([cnt,imdb_cast_hulu_count],ignore_index=True)
cnt = cnt.sort_values("cnt",ascending=False)
cnt.to_csv("Data/country_per_platform.csv")
cnt.sample(40)

<ipython-input-11-768d19189d11>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cast["country"] = cast["country"].str.split(",")

     service         country  cnt
133   Disney    South Africa    3
163    Prime         Ireland    2
139     Hulu  Czech Republic    3
131     Hulu      Luxembourg    3
128    Prime         Austria    3
39   Netflix          Sweden   42
150  Netflix         Namibia    2
6    Netflix          France  393
254  Netflix          Cyprus    1
97      Hulu           China    6
22    Disney  United Kingdom  101
194    Prime            Iran    1
260     Hulu       Venezuela    1
83    Disney           Japan   10
179  Netflix          Uganda    1
258     Hulu         Ukraine    1
198  Netflix           Samoa    1
211     Hulu           Qatar    1
191    Prime      Luxembourg    1
103    Prime           China    6
225   Disney            Iran    1
201     Hulu     Afghanistan    1
132    Prime     Netherlands    3
270  Netflix    Burkina Faso    1
121     Hulu     Netherlands    4
219   Disney         Belgium    1
47   Netflix     New Zealand   33
224   Disney       Guatemala    1
199   Disney           Syria    1
98     Prime         Denmark    6
63      Hulu     South Korea   15
72   Netflix         Austria   12
162  Netflix            Iraq    2
112  Netflix         Croatia    4
118   Disney       Hong Kong    4
58     Prime          France   20
114    Prime     Switzerland    4
124  Netflix           Syria    3
197   Disney          Angola    1
146     Hulu          Israel    3

In [12]:
cast = all_streams[["service","listed_in"]]
#cast=cast.rename(columns={"level_0":"service"})
cast["listed_in"] = cast["listed_in"].str.split(",")
cast = cast.explode("listed_in")
cast["listed_in"] = cast["listed_in"].str.strip()
cnt = cast.value_counts().reset_index()
cnt = cnt.rename(columns={0:"cnt"})
#cnt = pd.concat([cnt,imdb_cast_hulu_count],ignore_index=True)
cnt = cnt.sort_values("cnt",ascending=False)
cnt.to_csv("Data/genre_per_platform.csv")
cnt.sample(40)

<ipython-input-12-289df851f558>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cast["listed_in"] = cast["listed_in"].str.split(",")

     service                  listed_in   cnt
68     Prime  Music Videos and Concerts   155
86    Disney            Science Fiction    91
28    Disney                     Comedy   526
40   Netflix              Horror Movies   357
89     Prime                    Fitness    83
25      Hulu                     Action   555
19   Netflix   Children & Family Movies   641
84   Netflix        Science & Nature TV    92
57    Disney              Coming of Age   205
47   Netflix                 Reality TV   255
8      Prime                       Kids  1085
52      Hulu                   Thriller   231
38   Netflix           Music & Musicals   375
123   Disney                  Superhero    19
80     Prime                      LGBTQ   113
90      Hulu                    Mystery    81
32     Prime                and Culture   483
135     Hulu          Health & Wellness     8
82   Netflix               LGBTQ Movies   102
94   Netflix                  TV Horror    75
83   Netflix               TV Mysteries    98
67      Hulu        Lifestyle & Culture   155
126   Disney                      Crime    16
6      Prime                   Suspense  1501
35    Disney           Action-Adventure   452
18      Hulu                     Comedy   667
16   Netflix         Independent Movies   756
146   Disney              Spy/Espionage     3
46     Prime                  Adventure   259
152   Disney                  Talk Show     1
23   Netflix                  Thrillers   577
61   Netflix               Anime Series   176
62   Netflix  Spanish-Language TV Shows   174
118    Prime                 Historical    31
7    Netflix     International TV Shows  1351
44      Hulu                     Horror   304
79      Hulu              Black Stories   113
142     Hulu                 Late Night     4
4    Netflix                   Comedies  1674
131   Disney    Game Show / Competition    10

In [ ]:
df = all_streams["level_0"] + " - " + all_streams["type"]
print(df)
sns.countplot(x=df.array)
plt.xticks(rotation=-45, ha="left")
plt.savefig("Amount_of_content.png",dpi=600, bbox_inches = "tight")

### Adding information from IMDb

In [ ]:
all_rated = pd.read_csv("Data/all_IMDB_rated.csv")
all_rated.sample(2)

In [ ]:
df = all_rated["level_0"] + " - " + all_rated["type"]
print(df)
sns.countplot(x=df.array)
plt.xticks(rotation=-45, ha="left")
plt.savefig("Amount_of_content.png",dpi=600, bbox_inches = "tight")

In [ ]:
imdb = pd.read_csv("Data/title.basics.tsv", sep="\t",low_memory=False)
imdb.shape

In [ ]:
imdb.sample(1)

In [ ]:
hulu_imdb=pd.merge(hulu,imag,left_on=["title"],right_on=["originalTitle"],how='left')
hulu_imdb.shape

In [ ]:
hulu_imdb=hulu_imdb[hulu_imdb["startYear"].astype("string")==hulu_imdb["release_year"].astype("string")]
hulu_imdb.shape

In [ ]:
hulu_imdb2=hulu_imdb[(hulu_imdb["title"].str.count(" ")>3) |((hulu_imdb["type"].astype("string")=="Movie") & (hulu_imdb["titleType"].astype("string")=="movie")) | ((hulu_imdb["type"].astype("string")=="TV Show") & (hulu_imdb["titleType"].astype("string")=="tvSeries")) ]
hulu_imdb2.shape

In [ ]:
hulu_imdb2.sample(5)

In [ ]:
imdb_cast = pd.read_csv("Data/title.principals.tsv", sep="\t",low_memory=False)

In [ ]:
imdb_cast.head(3)

In [ ]:
imdb_cast.shape

In [ ]:
imdb_cast_hulu = pd.merge(hulu_imdb2,imdb_cast[imdb_cast["category"].astype("string")=="actor"],left_on=["tconst"],right_on=["tconst"],how='left')
imdb_cast_hulu.head(20)

In [ ]:
imdb_director_hulu = pd.merge(hulu_imdb2,imdb_cast[imdb_cast["category"].astype("string")=="director"],left_on=["tconst"],right_on=["tconst"],how='left')
imdb_director_hulu.head(2)

In [ ]:
imdb_name = pd.read_csv("Data/name.basics.tsv", sep="\t",low_memory=False)
imdb_name.shape

In [ ]:
imdb_cast_hulu_names = pd.merge(imdb_cast_hulu,imdb_name,left_on="nconst",right_on="nconst",how="left")
imdb_cast_hulu_names.sample(10)

In [138]:
all_columns = list(hulu.columns)
all_columns.append("primaryName")


columns_group = list(hulu.columns)
print("all_collumns: ",all_columns)
print("columns_group: ",columns_group)
t_c = imdb_cast_hulu_names[all_columns]
t_c.head(5)

t_d = imdb_director_hulu_names[all_columns]
t_d.head(5)

all_collumns:  ['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description', 'primaryName']
columns_group:  ['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,primaryName
0,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",Will Thorne
1,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...,Robert Lorenz
2,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...,Jaco Bouwer
3,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...,Wyatt Rockefeller
4,s8,TV Show,The Next Thing You Eat,NaN,NaN,NaN,"October 21, 2021",2021,NaN,1 Season,"Cooking & Food, Documentaries, Lifestyle & Cul...",With the unique insights and experience of Ugl...,NaN

In [158]:

df_c = t_c.groupby("show_id")["primaryName"].apply(list).reset_index()
hulu_new = pd.merge(hulu,df_c,on="show_id",how="left")
hulu_new["cast"]=hulu_new["primaryName"]
hulu_new.drop("primaryName",inplace=True,axis=1)
hulu_new.sample(5)

df_d = t_d.drop_duplicates(columns_group)[["show_id","primaryName"]]
hulu_new = pd.merge(hulu_new,df_d,on="show_id",how="left")
hulu_new["director"]=hulu_new["primaryName"]
hulu_new.drop("primaryName",inplace=True,axis=1)

hulu_new.replace([np.nan],np.nan,inplace=True)
hulu_new.sample(5)

hulu_new["cast"] = hulu_new["cast"].str.join(", ")
hulu_new.to_csv("Data/hulu_title_joines_with_IMDB.csv")

In [142]:
imdb_director_hulu_names = pd.merge(imdb_director_hulu,imdb_name,left_on="nconst",right_on="nconst",how="left")
print(imdb_director_hulu_names.shape)
imdb_director_hulu_names.sample(10)

(1971, 31)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,ordering,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
977,s1385,TV Show,If Loving You Is Wrong,NaN,NaN,United States,"September 23, 2020",2014,TV-MA,5 Seasons,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1047,s1466,Movie,Elena Undone,NaN,NaN,United States,"August 1, 2020",2010,111 min,NaN,...,5.0,nm0174903,director,\N,\N,Nicole Conn,1959,\N,"director,writer,editor","tt7326320,tt1575539,tt0103977,tt0430303"
1515,s2217,Movie,Don't Go,NaN,NaN,Ireland,"April 24, 2019",2018,92 min,NaN,...,5.0,nm1216554,director,\N,\N,David Gleeson,1966,\N,"writer,director,producer","tt0377701,tt3339680,tt3361792,tt0488121"
1323,s1899,TV Show,The Curse of Oak Island,NaN,NaN,United States,"January 1, 2020",2014,TV-PG,6 Seasons,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1939,s3004,TV Show,A Day in the Life,NaN,NaN,United States,"March 12, 2012",2011,TV-14,2 Seasons,...,3.0,nm2202756,director,\N,\N,Eon Song,\N,\N,"editorial_department,actress,producer","tt10529908,tt6432466,tt8494916"
568,s809,Movie,A Christmas Hero,NaN,NaN,NaN,"April 8, 2021",2020,PG-13,86 min,...,5.0,nm0943445,director,\N,\N,Phil Wurtzel,\N,\N,"producer,director,writer","tt3268790,tt6613412,tt7235038,tt10399114"
282,s402,Movie,Kingpin,NaN,NaN,NaN,"August 1, 2021",1996,TV-14,114 min,...,5.0,nm0125803,director,\N,\N,Bobby Farrelly,1958,\N,"producer,director,writer","tt0183505,tt0129387,tt0181739,tt0256380"
134,s182,Movie,Gemini,NaN,NaN,United States,"September 25, 2021",2017,R,93 min,...,5.0,nm1369800,director,\N,\N,Aaron Katz,1981,\N,"director,writer,editor","tt3283556,tt5795086,tt1497874,tt0914382"
106,s141,Movie,The Hunger Games: Catching Fire,NaN,NaN,NaN,"October 1, 2021",2013,TV-14,182 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
956,s1355,TV Show,Halloween Baking Championship,NaN,NaN,NaN,"October 1, 2020",2015,TV-PG,4 Seasons,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
imdb_cast_hulu_names["primaryName"].sample(10)

In [ ]:
imdb_cast_hulu_count = imdb_cast_hulu_names["primaryName"].value_counts().reset_index()
imdb_cast_hulu_count= imdb_cast_hulu_count.rename(columns={"index":"cast","primaryName":"cnt"})
imdb_cast_hulu_count["service"]="Hulu"
imdb_cast_hulu_count.sample(10)

In [ ]:
imdb_director_hulu_count = imdb_director_hulu_names["primaryName"].value_counts().reset_index()
imdb_director_hulu_count= imdb_director_hulu_count.rename(columns={"index":"director","primaryName":"cnt"})
imdb_director_hulu_count["service"]="Hulu"
imdb_director_hulu_count.sample(10)

In [ ]:
rating = pd.read_csv('Data/title.ratings.tsv', sep="\t")

In [ ]:
all_rated=pd.merge(all_streams_imdb,rating,on="tconst",how="left")

In [ ]:
all_rated.to_csv("Data/all_IMDB_rated.csv",index=False)

### Using the merged dataset

In [ ]:
ratings = all_rated[["level_0","averageRating"]]

plt.figure(figsize=(15, 7))
sns.histplot(data=ratings,binwidth=0.5,x="averageRating",hue="level_0",)
plt.title('Average IMDB Ratings')
plt.xlabel('Rating')
plt.ylabel('Frequency')
plt.xticks(rotation=90)
plt.show()

In [ ]:
# The unique categories of netflix
netflix_categories = netflix['listed_in'].str.split(', ').explode('listed_in').unique()
netflix_categories

In [ ]:
# categories grouped
def get_cat(df, number=20):
    a = df['listed_in'].str.split(', ').explode('listed_in')
    b = pd.DataFrame(a.groupby(a).count())
    b.columns = ['count']
    b['category'] = b.index
    return b.sort_values('count', ascending=False)[:number]

In [ ]:
plt.figure(figsize=(15, 7))
sns.barplot(x='category', y='count', data=get_cat(netflix))
plt.title('20 Largest Netflix Categories')
plt.xlabel('Category')
plt.ylabel('Frequency')
plt.xticks(rotation=90)
plt.savefig('20_Largest_Netflix_Categories.png')
plt.show()

In [ ]:
net_a = get_cat(netflix, 30)
pr_a = get_cat(prime, 30)
hul_a = get_cat(hulu, 30)
dis_a = get_cat(disney, 30)

In [ ]:
net_a

In [ ]:
net_a['provider'] = 'Netflix'
pr_a['provider'] = 'Prime'
hul_a['provider'] = 'Hulu'
dis_a['provider'] = 'Disney'

In [ ]:
big_cat = pd.concat((net_a, pr_a, hul_a, dis_a))

In [ ]:
import plotly.express as px
fig = px.treemap(big_cat, path=['provider', 'category'], values='count')
fig.show()