# This notebook is used to explore the datasets

In [ ]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [ ]:
#Load data
netflix = pd.read_csv('Data/netflix_titles.csv')
prime = pd.read_csv('Data/amazon_prime_titles.csv')
disney = pd.read_csv('Data/disney_plus_titles.csv')
hulu = pd.read_csv('Data/hulu_titles.csv')
platforms = pd.read_csv('Data/MoviesOnStreamingPlatforms.csv')

In [ ]:
# Overview of individual dataframe
netflix.head(1)

In [ ]:
# Overview of individual dataframe
disney.head(1)

In [ ]:
# Overview of individual datafra
hulu.shape

In [ ]:
# Overview of individual datafr
prime.sample(10)

In [ ]:
print('The amount of titles per platform')
print('netflix:',netflix.shape[0])
print('prime:',prime.shape[0])
print('disney:',disney.shape[0])
print('hulu:',hulu.shape[0])

In [ ]:
# Overview of the platform dataframe
platforms

In [ ]:
def top_in_attr(dataframe, attribute, count=10):
    df_temp = dataframe.groupby(attribute).count()[['show_id']]
    df_temp.columns = ['count']
    return df_temp.sort_values('count',ascending=False).head(count)

In [ ]:
# top 10 netflix directors by count
top_in_attr(netflix,'director')

In [ ]:
# Share of Movies vs TV-shows in netflix
top_in_attr(netflix,'type')

In [ ]:
top_in_attr(netflix,'country')

In [ ]:
top_in_attr(netflix,'release_year')

In [ ]:
a = top_in_attr(netflix,'release_year')
b = top_in_attr(hulu,'release_year')
c = top_in_attr(disney,'release_year')
d = top_in_attr(prime,'release_year')
plt.figure(figsize=(15, 7))
release_years = sns.lineplot(x="release_year",
                            y="count",
                            data=a,
                            legend="brief",
                            label='Netflix')
release_years = sns.lineplot(x="release_year",
                            y="count",
                            data=b,
                            label='Hulu',
                            legend="brief")
release_years = sns.lineplot(x="release_year",
                            y="count",
                            data=c,
                            label='Disney+',
                            legend="brief")
release_years = sns.lineplot(x="release_year",
                            y="count",
                            data=d,
                            label='Amazon Prime',
                            legend="brief")
#plt.legend()
#plt.show()
plt.savefig("Releases_per_year.png")

In [ ]:
top_in_attr(netflix,'rating')

In [44]:
#Merge together all datasets of netflix, prime, disney and hulu
all_streams=pd.concat([netflix,prime,disney,hulu], keys=['Netflix', 'Prime','Disney','Hulu']).reset_index()
all_streams.sample(10)

,level_0,level_1,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
13517,Prime,4710,s4711,Movie,Those People,Joey Kuhn,"Jonathan Gordon, Jason Ralph, Haaz Sleiman, Br...",NaN,NaN,2016,18+,89 min,"Arthouse, LGBTQ, Romance","On Manhattan's gilded Upper East Side, a young..."
14141,Prime,5334,s5335,Movie,Gecko's Garage - Christmas Videos for Kids,Christian Hughes,NaN,NaN,NaN,2019,ALL,21 min,Kids,"In this vehicle-themed Christmas compilation, ..."
4789,Netflix,4789,s4790,Movie,King of Peking,Sam Voutas,"Zhao Jun, Wang Naixun, Han Qing, Si Chao, Geng...","China, United States, Australia","July 2, 2018",2018,TV-14,88 min,"Comedies, Dramas, International Movies","Strapped for cash, a traveling projectionist b..."
21725,Hulu,1800,s1801,Movie,Racetime,NaN,NaN,Canada,"February 14, 2020",2018,PG,90 min,"Action, Adventure, Comedy","After losing a rigged sled race, Frankie chall..."
14725,Prime,5918,s5919,Movie,Sharing the Secret,Katt Shea,"Mare Winningham, Alison Lohman, Diane Ladd, Ma...",United States,NaN,2000,16+,90 min,"Drama, Young Adult Audience","Troubled by her parents' recent divorce, Beth ..."
15926,Prime,7119,s7120,TV Show,Don't Quit Your Gay Job,NaN,"Rob Easton, Sean Horlor",NaN,NaN,2011,13+,1 Season,TV Shows,Don't Quit Your Gay Job showcases the personal...
15790,Prime,6983,s6984,Movie,Uyarndha Manithan,Krishnan-Panju,"Sivaji Ganesan, Sowcar Janaki, S. A. Ashokan, ...",NaN,NaN,1968,ALL,162 min,Drama,Uyarndha Manithan is Tamil Emotional Drama Fil...
19870,Disney,1395,s1396,Movie,Twitches Too,Stuart Gillard,"Tia Mowry, Tamera Mowry, Kristen Wilson, Patri...",United States,"November 12, 2019",2007,TV-PG,84 min,"Comedy, Fantasy","When a new evil threat arrives, it's up to the..."
5642,Netflix,5642,s5643,Movie,Coin Heist,Emily Hagins,"Sasha Pieterse, Alexis G. Zall, Alex Saxon, Ja...",United States,"January 6, 2017",2017,TV-14,98 min,"Children & Family Movies, Dramas",When a crisis threatens to destroy their high ...
22246,Hulu,2321,s2322,Movie,The Devil's Doorway,NaN,NaN,"Ireland, United Kingdom","December 22, 2018",2018,76 min,NaN,Horror,"In 1960, two priests are sent to investigate a..."

In [77]:
director = all_streams[["level_0","director"]]
director = director.rename(columns={"level_0":"service"})
director["director"] = director["director"].str.split(",")
director = director.explode("director")
director["director"] = director["director"].str.strip()
cnt = director.value_counts().reset_index()
cnt = cnt.rename(columns={0:"cnt"})
cnt = pd.concat([cnt,imdb_director_hulu_count],ignore_index=True)
cnt = cnt.sort_values("cnt",ascending=False)
cnt.to_csv("Data/director_per_platform.csv")
cnt.sample(40)

       service                 director  cnt
11190  Netflix               Matt Angel    1
7589   Netflix      Jennifer Yuh Nelson    1
6676   Netflix              Hakan Yonat    1
9339   Netflix  Vishwesh Krishnamoorthy    1
1175   Netflix             Dominic Sena    2
11603  Netflix             Quinn Kanaly    1
8207   Netflix             Alan Rickman    1
11770  Netflix            Raj B. Shetty    1
5968     Prime           Patrick Wright    1
9343   Netflix      Viridiana Lieberman    1
18       Prime                        1   16
148      Prime              Ryan Polito    6
1817    Disney           Robert Ramirez    2
4937     Prime              Will Vinton    1
11066  Netflix               Max McGill    1
11950     Hulu            Kourosh Ahari    1
12476     Hulu              Todd Louiso    1
8422    Disney         Michael Grossman    1
2878     Prime               Colin Barr    1
2165     Prime           David Hastings    1
1145   Netflix             Duncan Jones    2
6185     Prime            Pratima Joshi    1
11909     Hulu             Karyn Kusama    2
4329     Prime            Richard Green    1
10823  Netflix             Nicholas Ray    1
7907   Netflix              John Papola    1
2738     Prime               Cory Cavin    1
8626   Netflix        Christian De Vita    1
8284    Disney                Ham Luske    1
3992     Prime             Sasha Burrow    1
8095   Netflix           Alex Stapleton    1
5776     Prime       Lionello De Felice    1
1375     Prime         Michael A. Bloom    2
2945     Prime            Elmo Williams    1
7636   Netflix              Jo Sung-hee    1
2592     Prime               K.B. Tilak    1
12455     Hulu       Joe Angelo Menconi    1
10154    Prime           Brian Kazmarck    1
7900   Netflix    John Michael McDonagh    1
8612   Netflix              Chris McCoy    1

In [73]:
cast = all_streams[["level_0","cast"]]
cast=cast.rename(columns={"level_0":"service"})
cast["cast"] = cast["cast"].str.split(",")
cast = cast.explode("cast")
cast["cast"] = cast["cast"].str.strip()
cnt = cast.value_counts().reset_index()
cnt = cnt.rename(columns={0:"cnt"})
cnt = pd.concat([cnt,imdb_cast_hulu_count],ignore_index=True)
cnt = cnt.sort_values("cnt",ascending=False)
cnt.to_csv("Data/cast_per_platform.csv")
cnt.sample(40)

       service                     cast  cnt
24205    Prime     David Clayton Rogers    1
44671  Netflix               Clea Lewis    1
63873  Netflix                You-Mi Ha    1
36241    Prime              Kwame Toure    1
68459  Netflix                 Paul Hsu    1
7868     Prime             Jason Tobias    3
45918  Netflix             John Carroll    1
60157  Netflix            Shayle Simons    1
52168   Disney          Amanda Michalka    1
55778  Netflix               Amel Carla    1
55850  Netflix        Alison Akin Clark    1
44680  Netflix              Colleen Foy    1
63891  Netflix           Yvette Monreal    1
65316  Netflix     Madhampatti Rangaraj    1
30159    Prime           Rebecca Friday    1
20993    Prime         Barbara Crampton    1
53647  Netflix           Camilo Jiménez    1
35568    Prime  Laura Louise Whitehurst    1
20006    Prime                 Jan Hoag    1
48076  Netflix            Indira Tiwari    1
13174    Prime        Marquis Rodriguez    2
31832    Prime                  Xin Liu    1
25620    Prime         Christopher Deon    1
57984  Netflix    Sita Maharavidejakorn    1
45003  Netflix               Drew Davis    1
58029  Netflix            Sirin Horwang    1
38585    Prime    Michelangelo Fortuzzi    1
14492    Prime             Shemp Howard    2
66168  Netflix               Mark O'Dea    1
34     Netflix             Nicolas Cage   21
53745  Netflix            Caitlin Keats    1
29050    Prime              Paul Murton    1
75223     Hulu          Patrick Muldoon    1
23987    Prime           Donna Lindberg    1
19143    Prime      Jacobus van Heerden    1
70178  Netflix            Monica Friday    1
61073    Prime            Akhil Talreja    1
30922    Prime             Uday Krishna    1
33771    Prime            Tara Westwood    1
45334  Netflix            Edgar Arreola    1

In [ ]:
df = all_streams["level_0"] + " - " + all_streams["type"]
print(df)
sns.countplot(x=df.array)
plt.xticks(rotation=-45, ha="left")
plt.savefig("Amount_of_content.png",dpi=600, bbox_inches = "tight")

### Adding information from IMDb

In [ ]:
all_rated = pd.read_csv("Data/all_IMDB_rated.csv")
all_rated.sample(2)

In [ ]:
df = all_rated["level_0"] + " - " + all_rated["type"]
print(df)
sns.countplot(x=df.array)
plt.xticks(rotation=-45, ha="left")
plt.savefig("Amount_of_content.png",dpi=600, bbox_inches = "tight")

In [ ]:
imdb = pd.read_csv("Data/title.basics.tsv", sep="\t",low_memory=False)
imdb.shape

In [21]:
hulu_imdb=pd.merge(hulu,imdb,left_on=["title"],right_on=["originalTitle"],how='left')
hulu_imdb.shape

(27678, 21)

In [22]:
hulu_imdb=hulu_imdb[hulu_imdb["startYear"].astype("string")==hulu_imdb["release_year"].astype("string")]
hulu_imdb.shape

(3500, 21)

In [31]:
hulu_imdb2=hulu_imdb[(hulu_imdb["title"].str.count(" ")>3) |((hulu_imdb["type"].astype("string")=="Movie") & (hulu_imdb["titleType"].astype("string")=="movie")) | ((hulu_imdb["type"].astype("string")=="TV Show") & (hulu_imdb["titleType"].astype("string")=="tvSeries")) ]
hulu_imdb2.shape

(1860, 21)

In [32]:
hulu_imdb2.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,description,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
14797,s1463,Movie,Are We Done Yet?,NaN,NaN,NaN,"August 1, 2020",2007,TV-PG,90 min,...,Newlyweds Nick and Suzanne decide to move to t...,tt0422774,movie,Are We Done Yet?,Are We Done Yet?,0,2007,\N,92,"Comedy,Family,Fantasy"
6379,s575,Movie,Safer at Home,NaN,NaN,NaN,"June 27, 2021",2021,NaN,85 min,...,"Two years into the pandemic, a group of friend...",tt13651858,movie,Safer at Home,Safer at Home,0,2021,\N,82,"Crime,Drama,Thriller"
7988,s692,TV Show,Mr Inbetween,NaN,NaN,Australia,"May 26, 2021",2018,TV-MA,3 Seasons,...,Hardened by the prison system and his experien...,tt7472896,tvSeries,Mr Inbetween,Mr Inbetween,0,2018,2021,30,"Crime,Drama"
5684,s548,Movie,The Conversation,NaN,NaN,NaN,"July 1, 2021",1974,PG,114 min,...,Gene Hackman set the standard for 1970s film a...,tt0071360,movie,The Conversation,The Conversation,0,1974,\N,113,"Drama,Mystery,Thriller"
21214,s2342,TV Show,Melissa & Joey,NaN,NaN,United States,"December 1, 2018",2010,TV-14,4 Seasons,...,In this hilarious new ABC Family original seri...,tt1597420,tvSeries,Melissa & Joey,Melissa & Joey,0,2010,2015,30,"Comedy,Romance"

In [33]:
imdb_cast = pd.read_csv("Data/title.principals.tsv", sep="\t",low_memory=False)

(8810215, 9)

In [34]:
imdb_cast.shape

(50314356, 6)

In [36]:
imdb_cast_hulu = pd.merge(hulu_imdb2,imdb_cast[imdb_cast["category"].astype("string")=="actor"],left_on=["tconst"],right_on=["tconst"],how='left')
imdb_cast_hulu.head(20)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,isAdult,startYear,endYear,runtimeMinutes,genres,ordering,nconst,category,job,characters
0,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,...,0,2020,\N,93,"Crime,Thriller",1.0,nm0852060,actor,\N,"[""Mark""]"
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,...,0,2020,\N,93,"Crime,Thriller",2.0,nm1736445,actor,\N,"[""Alan""]"
2,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,...,0,2020,\N,93,"Crime,Thriller",3.0,nm0363857,actor,\N,"[""Caddy""]"
3,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,...,0,2020,\N,93,"Crime,Thriller",4.0,nm2533322,actor,\N,"[""Pete""]"
4,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,...,0,2021,\N,108,"Action,Adventure,Drama",2.0,nm0000553,actor,\N,"[""Jim""]"
5,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,...,0,2021,\N,108,"Action,Adventure,Drama",4.0,nm0704696,actor,\N,"[""Mauricio""]"
6,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,...,0,2021,\N,96,"Drama,Fantasy,Horror",2.0,nm3317649,actor,\N,"[""Barend""]"
7,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,...,0,2021,\N,96,"Drama,Fantasy,Horror",3.0,nm9700375,actor,\N,"[""Stefan""]"
8,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,...,0,2021,\N,96,"Drama,Fantasy,Horror",4.0,nm1500115,actor,\N,"[""Winston""]"
9,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,...,0,2021,\N,103,"Drama,Sci-Fi,Thriller",2.0,nm3033454,actor,\N,"[""Jerry""]"
10,s8,TV Show,The Next Thing You Eat,NaN,NaN,NaN,"October 21, 2021",2021,NaN,1 Season,...,0,2021,\N,32,Documentary,8.0,nm3129350,actor,\N,\N
11,s9,TV Show,Queens,NaN,NaN,NaN,"October 20, 2021",2021,TV-14,1 Season,...,0,2021,\N,\N,"Drama,Music",10.0,nm13035842,actor,\N,"[""Langston""]"
12,s9,TV Show,Queens,NaN,NaN,NaN,"October 20, 2021",2021,TV-14,1 Season,...,0,2021,\N,\N,"Drama,Music",4.0,nm3552380,actor,\N,"[""Eric 'E-Roc' Jones""]"
13,s10,TV Show,The Bachelorette,NaN,NaN,United States,"October 20, 2021",2003,TV-14,3 Seasons,...,0,2003,\N,60,"Drama,Game-Show,Reality-TV",NaN,NaN,NaN,NaN,NaN
14,s12,Movie,Dream Horse,NaN,NaN,NaN,"October 18, 2021",2020,PG,113 min,...,0,2020,\N,113,"Biography,Comedy,Drama",2.0,nm0853583,actor,\N,"[""Brian Vokes""]"
15,s12,Movie,Dream Horse,NaN,NaN,NaN,"October 18, 2021",2020,PG,113 min,...,0,2020,\N,113,"Biography,Comedy,Drama",3.0,nm0202804,actor,\N,"[""Bert""]"
16,s13,Movie,Out of the Shadows: The Man Behind the Steele ...,NaN,NaN,NaN,"October 18, 2021",2021,NaN,NaN,...,0,2021,\N,\N,Documentary,NaN,NaN,NaN,NaN,NaN
17,s15,TV Show,Home Sweet Home,NaN,NaN,NaN,"October 16, 2021",2021,TV-PG,1 Season,...,0,2021,\N,\N,Reality-TV,NaN,NaN,NaN,NaN,NaN
18,s18,TV Show,America's Book of Secrets,NaN,NaN,United States,"October 15, 2021",2012,TV-14,1 Season,...,0,2012,2021,44,Documentary,NaN,NaN,NaN,NaN,NaN
19,s19,TV Show,Beyond Oak Island,NaN,NaN,NaN,"October 15, 2021",2020,TV-PG,1 Season,...,0,2020,\N,42,"Documentary,Reality-TV",1.0,nm0167139,actor,\N,"[""Narrator""]"

In [64]:
imdb_director_hulu = pd.merge(hulu_imdb2,imdb_cast[imdb_cast["category"].astype("string")=="director"],left_on=["tconst"],right_on=["tconst"],how='left')
imdb_director_hulu.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,isAdult,startYear,endYear,runtimeMinutes,genres,ordering,nconst,category,job,characters
0,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,...,0,2020,\N,93,"Crime,Thriller",5.0,nm5096465,director,\N,\N
1,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,...,0,2021,\N,108,"Action,Adventure,Drama",5.0,nm0520749,director,\N,\N

In [37]:
imdb_name = pd.read_csv("Data/name.basics.tsv", sep="\t",low_memory=False)
imdb_name.shape

(11630333, 6)

In [38]:
imdb_cast_hulu_names = pd.merge(imdb_cast_hulu,imdb_name,left_on="nconst",right_on="nconst",how="left")
imdb_cast_hulu_names.sample(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,ordering,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
2926,s1805,Movie,Sea of Shadows,NaN,NaN,"Austria, Australia, Germany, United States","February 11, 2020",2019,TV-14,105 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,s108,Movie,Madhouse,NaN,NaN,NaN,"October 1, 2021",2004,NaN,91 min,...,1.0,nm0502671,actor,\N,"[""Clark Stevens""]",Joshua Leonard,1975,\N,"actor,writer,director","tt3061830,tt0185937,tt1334537,tt1355630"
4415,s2701,Movie,Bad Company,NaN,NaN,United States,"August 1, 2017",1972,PG,92 min,...,3.0,nm0204824,actor,\N,"[""Marshal""]",Jim Davis,1909,1981,"actor,art_director","tt0077000,tt0080596,tt0066831,tt0061619"
511,s288,Movie,Mommy,NaN,NaN,NaN,"September 1, 2021",2014,R,139 min,...,2.0,nm4608165,actor,\N,"[""Steve O'Connor Després""]",Antoine Olivier Pilon,1997,\N,"actor,director,writer","tt1466570,tt5834036,tt3612616,tt1656177"
1369,s853,Movie,5 Years Apart,NaN,NaN,NaN,"March 26, 2021",2019,NaN,77 min,...,4.0,nm4266732,actor,\N,"[""Sammy""]",Michael Vlamis,1990,\N,"actor,writer,producer","tt7736968,tt18767068,tt7588054,tt11540916"
1181,s706,Movie,A Perfect Ending,NaN,NaN,NaN,"May 15, 2021",2012,NaN,110 min,...,2.0,nm3247708,actor,\N,"[""Hank Westridge""]",Bryan Mordechai Jackson,\N,\N,actor,"tt1507378,tt1823059,tt1344400,tt2965446"
2042,s1220,Movie,Bare Knuckle,NaN,NaN,NaN,"November 7, 2020",2018,NaN,92 min,...,1.0,nm10128720,actor,\N,"[""Weigh in announcer""]",Stu Armstrong,\N,\N,actor,"tt9005484,tt9553374,tt3554874,tt8219120"
4591,s2777,TV Show,Desperate Housewives,NaN,NaN,United States,"December 22, 2016",2004,TV-14,8 Seasons,...,8.0,nm0219835,actor,\N,"[""Mike Delfino""]",James Denton,1963,\N,"actor,producer,writer","tt0115320,tt0119094,tt1699114,tt0410975"
4965,s2976,TV Show,High School USA!,NaN,NaN,United States,"September 27, 2013",2013,TV-MA,1 Season,...,3.0,nm2554352,actor,\N,"[""Brad""]",T.J. Miller,1981,\N,"actor,writer,producer","tt2575988,tt1060277,tt1431045,tt2245084"
4326,s2663,TV Show,Hetalia: Axis Powers,NaN,NaN,Japan,"September 5, 2017",2009,TV-MA,2 Seasons,...,10.0,nm0847123,actor,\N,"[""Japan"",""Napoleon Bonaparte""]",Hiroki Takahashi,1974,\N,"actor,art_department,music_department","tt2288938,tt4601382,tt1394259,tt0295080"

In [65]:
imdb_director_hulu_names = pd.merge(imdb_director_hulu,imdb_name,left_on="nconst",right_on="nconst",how="left")
imdb_director_hulu_names.sample(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,ordering,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
709,s990,Movie,Antebellum,NaN,NaN,United States,"February 5, 2021",2020,R,106 min,...,6.0,nm7896794,director,\N,\N,Christopher Renz,\N,\N,"director,writer,producer","tt7315316,tt10065694,tt12433004"
1673,s2478,Movie,Night of the Living Dead,NaN,NaN,NaN,"June 4, 2018",1968,TV-MA,86 min,...,5.0,nm0001681,director,\N,\N,George A. Romero,1940,2017,"producer,writer,director","tt0418819,tt0063350,tt0848557,tt0095652"
1858,s2830,TV Show,Saved by the Bell: Hawaiian Style,NaN,NaN,United States,"January 17, 2016",1992,TV-PG,1 Season,...,5.0,nm0056054,director,\N,\N,Don Barnhart,\N,2016,"director,assistant_director,miscellaneous","tt0111994,tt0077053,tt0083444,tt0106123"
659,s919,Movie,Ammonite,NaN,NaN,NaN,"March 5, 2021",2020,R,117 min,...,5.0,nm0497274,director,\N,\N,Francis Lee,1969,\N,"actor,director,writer","tt3091196,tt7983894,tt5635086,tt2140519"
1124,s1578,Movie,XX,NaN,NaN,"Canada, United States, Mexico","June 22, 2020",2017,R,81 min,...,9.0,nm1281628,director,\N,\N,Jovanka Vuckovic,1975,\N,"director,visual_effects,writer","tt3322892,tt6049106,tt4959950"
1009,s1424,Movie,The Festival,NaN,NaN,United Kingdom,"September 1, 2020",2018,R,98 min,...,5.0,nm0606597,director,\N,\N,Iain Morris,1973,\N,"producer,writer,script_department","tt1716772,tt1220617,tt3097204,tt7908628"
1855,s2822,TV Show,Mr. Bean,NaN,NaN,United Kingdom,"February 1, 2016",1990,TV-G,1 Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280,s400,TV Show,Impossible Builds,NaN,NaN,NaN,"August 1, 2021",2018,NaN,1 Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1424,s2065,Movie,Teen Spirit,NaN,NaN,"United Kingdom, United States","September 30, 2019",2018,PG-13,93 min,...,5.0,nm1540404,director,\N,\N,Max Minghella,1985,\N,"actor,producer,director","tt5834204,tt1285016,tt1124035,tt10342730"
269,s388,Movie,Alpha and Omega,NaN,NaN,NaN,"August 1, 2021",2010,PG,88 min,...,5.0,nm0068034,director,\N,\N,Anthony Bell,\N,\N,"director,animation_department,art_department","tt0111996,tt1213012,tt0414853,tt0101188"

In [39]:
imdb_cast_hulu_names["primaryName"].sample(10)

1084         Nat Faxon
398        Steve Kasan
601       Micky Dolenz
3388     Rowan Russell
221         Grey Damon
299       David Wenzel
5033               NaN
70      Kenan Thompson
4759       Paul Scheer
3260       Barton Bund
Name: primaryName, dtype: object

In [47]:
imdb_cast_hulu_count = imdb_cast_hulu_names["primaryName"].value_counts().reset_index()
imdb_cast_hulu_count= imdb_cast_hulu_count.rename(columns={"index":"cast","primaryName":"cnt"})
imdb_cast_hulu_count["service"]="Hulu"
imdb_cast_hulu_count.sample(10)

                      cast  cnt service
1367         Bobby Tisdale    1    Hulu
1241        Samuel Barnett    1    Hulu
1702    Neville Namarnyilk    1    Hulu
2455         Jamie McShane    1    Hulu
165       Damon Wayans Jr.    3    Hulu
2382  David Marshall Grant    1    Hulu
3143         David A. Kaye    1    Hulu
861          Chris Carmack    1    Hulu
1635             JT Palmer    1    Hulu
617           Jack Klugman    2    Hulu

In [76]:
imdb_director_hulu_count = imdb_director_hulu_names["primaryName"].value_counts().reset_index()
imdb_director_hulu_count= imdb_director_hulu_count.rename(columns={"index":"director","primaryName":"cnt"})
imdb_director_hulu_count["service"]="Hulu"
imdb_director_hulu_count.sample(10)

               director  cnt service
776          Justin Lin    1    Hulu
643       Johnny Martin    1    Hulu
726        Karen Disher    1    Hulu
672      Steve Lawrence    1    Hulu
837          James Mark    1    Hulu
895      Brian De Palma    1    Hulu
391         Trent Haaga    1    Hulu
912    Christopher Renz    1    Hulu
601      Drew T. Pierce    1    Hulu
576  Lewis John Carlino    1    Hulu

In [ ]:
rating = pd.read_csv('Data/title.ratings.tsv', sep="\t")

In [ ]:
all_rated=pd.merge(all_streams_imdb,rating,on="tconst",how="left")

In [ ]:
all_rated.to_csv("Data/all_IMDB_rated.csv",index=False)

### Using the merged dataset

In [ ]:
ratings = all_rated[["level_0","averageRating"]]

plt.figure(figsize=(15, 7))
sns.histplot(data=ratings,binwidth=0.5,x="averageRating",hue="level_0",)
plt.title('Average IMDB Ratings')
plt.xlabel('Rating')
plt.ylabel('Frequency')
plt.xticks(rotation=90)
plt.show()

In [ ]:
# The unique categories of netflix
netflix_categories = netflix['listed_in'].str.split(', ').explode('listed_in').unique()
netflix_categories

In [ ]:
# categories grouped
def get_cat(df, number=20):
    a = df['listed_in'].str.split(', ').explode('listed_in')
    b = pd.DataFrame(a.groupby(a).count())
    b.columns = ['count']
    b['category'] = b.index
    return b.sort_values('count', ascending=False)[:number]

In [ ]:
plt.figure(figsize=(15, 7))
sns.barplot(x='category', y='count', data=get_cat(netflix))
plt.title('20 Largest Netflix Categories')
plt.xlabel('Category')
plt.ylabel('Frequency')
plt.xticks(rotation=90)
plt.savefig('20_Largest_Netflix_Categories.png')
plt.show()

In [ ]:
net_a = get_cat(netflix, 30)
pr_a = get_cat(prime, 30)
hul_a = get_cat(hulu, 30)
dis_a = get_cat(disney, 30)

In [ ]:
net_a

In [ ]:
net_a['provider'] = 'Netflix'
pr_a['provider'] = 'Prime'
hul_a['provider'] = 'Hulu'
dis_a['provider'] = 'Disney'

In [ ]:
big_cat = pd.concat((net_a, pr_a, hul_a, dis_a))

In [ ]:
import plotly.express as px
fig = px.treemap(big_cat, path=['provider', 'category'], values='count')
fig.show()