In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('Data/all_streams.csv', index_col=0)

In [16]:
df.head()

,service,level_1,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,Netflix,0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,Netflix,1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,Netflix,2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,Netflix,3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,Netflix,4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [52]:
a = pd.DataFrame(df.groupby('release_year')['release_year'].agg('count'))
b = a.index.values
c = pd.DataFrame((b,a['release_year'])).T
c.columns = ['release_year', 'count']
c

     release_year  count
0            1920      3
1            1922      2
2            1923      2
3            1924      1
4            1925      9
..            ...    ...
96           2017   1892
97           2018   2105
98           2019   2470
99           2020   2406
100          2021   2385

[101 rows x 2 columns]

In [54]:
c.to_csv('Data/release_year.csv', index=False)